*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#0f172a;
  color:white;
  height:100vh;
}

h1{
  text-align:center;
  padding:15px;
  background:#020617;
}

.container{
  padding:20px;
}

.row{
  display:flex;
  align-items:center;
  background:#1e293b;
  margin-bottom:15px;
  padding:15px;
  border-radius:8px;
}

.subject{
  width:15%;
  font-size:22px;
  color:#38bdf8;
  font-weight:bold;
}

.targets{
  width:70%;
  display:flex;
  gap:15px;
  flex-wrap:wrap;
}

.task{
  background:#020617;
  padding:8px 12px;
  border-radius:6px;
  display:flex;
  align-items:center;
  gap:5px;
}

.task button{
  background:red;
  border:none;
  color:white;
  cursor:pointer;
  padding:2px 6px;
  border-radius:4px;
}

.addBtn{
  background:#22c55e;
  border:none;
  color:black;
  padding:8px 12px;
  font-weight:bold;
  border-radius:6px;
  cursor:pointer;
}
