*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#0f172a;
  color:white;
}

h1{
  text-align:center;
  padding:15px;
  background:#020617;
}

.date-bar{
  background:#020617;
  padding:10px;
  text-align:center;
}

.container{
  padding:15px;
}

.row{
  display:flex;
  align-items:flex-start;
  background:#1e293b;
  margin-bottom:15px;
  padding:15px;
  border-radius:8px;
  gap:15px;
}

.subject{
  width:12%;
  font-size:22px;
  font-weight:bold;
  color:#38bdf8;
}

.chapters{
  width:25%;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.chapter{
  background:#020617;
  padding:10px;
  border-radius:6px;
  display:flex;
  align-items:center;
  gap:10px;
}

.chapter input{
  transform: scale(1.8); /* BIG checkbox */
}

.targets{
  width:45%;
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

.task{
  background:#020617;
  padding:8px 10px;
  border-radius:6px;
  display:flex;
  gap:5px;
  align-items:center;
}

.task button{
  background:red;
  border:none;
  color:white;
  padding:2px 6px;
  cursor:pointer;
  border-radius:4px;
}

.addChapterBtn{
  background:#22c55e;
  border:none;
  padding:8px 10px;
  font-weight:bold;
  border-radius:6px;
  cursor:pointer;
}
